/* - 불릿 없음
- 줄 간격을 최상위 글자 크기의 2배로 지정
- 각 항목 제목의 글자색은 #ad3000, 글자 크기는 부모요소의 1.5배로 지정 */
ul {
  list-style: none;
  line-height: 2rem;
}

.sub-title {
  color: #ad3000;
  font-size: 1.5em;
  font-weight: 900;
}